
<%=link_to("View wines", wines_path, class: "btn btn-primary btn-sm") %>

<p><%= form_for @wine do |f| %></p><br>
<%= render 'shared/error_messages' %>
  
  <div class="form-group"><h4><%= f.label :name %>

  <%= f.text_field :name, class: "form-control", placeholder: "Chardonnay" %></h4></div> <br>

  <p><h4><%= f.label :body %></h4></p>

  <p><%= f.radio_button :body, 1 %>
  <%= label_tag(:body, "Light-bodied white") %>
  <%= f.radio_button :body, 2 %>
  <%= label_tag(:body, "Medium-bodied white") %>
  <%= f.radio_button :body, 3 %>
  <%= label_tag(:body, "Full-bodied white") %>
  <%= f.radio_button :body, 4 %>
  <%= label_tag(:body, "Rose") %></p>
  <%= f.radio_button :body, 5 %>
  <%= label_tag(:body, "Light-bodied red") %>
  <%= f.radio_button :body, 6 %>
  <%= label_tag(:body, "Medium-bodied red") %>
  <%= f.radio_button :body, 7 %>
  <%= label_tag(:body, "Full-bodied red") %></p><br>

  <p><h4><%= f.label :alcohol %></h4></p>

  <p><%= f.radio_button :alcohol, 1 %>
  <%= label_tag(:alcohol, "Low-alcohol (under 12.5%)") %>
  <%= f.radio_button :alcohol, 2 %>
  <%= label_tag(:alcohol, "Medium-alcohol (12.5% - 13.5%)") %>
  <%= f.radio_button :alcohol, 3 %>
  <%= label_tag(:alcohol, "High-alcohol (13.5% - 15%)") %>
  </p><br>

  <p><h4><%= f.label :tannin %></h4></p>

  <p><%= f.radio_button :tannin, 0 %>
  <%= label_tag(:tannin, "No tannin (check for white wines)") %>
  <%= f.radio_button :tannin, 1 %>
  <%= label_tag(:tannin, "Low-tannin") %>
  <%= f.radio_button :tannin, 2 %>
  <%= label_tag(:tannin, "Medium-tannin") %>
  <%= f.radio_button :tannin, 3 %>
  <%= label_tag(:tannin, "High-tannin") %></p><br>

  <p><h4><%= f.label :acid %></h4></p>

  <p><%= f.radio_button :acid, 1 %>
  <%= label_tag(:acid, "Low-acid") %>
  <%= f.radio_button :acid, 2 %>
  <%= label_tag(:acid, "Medium-acid") %>
  <%= f.radio_button :acid, 3 %>
  <%= label_tag(:acid, "High-acid") %></p><br>


  <p><h4><%= f.label :sweetness %> </h4></p>

  <p><%= f.radio_button :sweetness, 1 %>
  <%= label_tag(:sweetness, "Dry") %>
  <%= f.radio_button :sweetness, 2 %>
  <%= label_tag(:sweetness, "Semi-sweet") %>
  <%= f.radio_button :sweetness, 3 %>
  <%= label_tag(:sweetness, "Sweet") %></p><br> 

  <p><h4><%= f.label :sparkling %></h4></p>
  <p><%= f.check_box :sparkling %>
  <%= label_tag(:sparkling, "This is a sparkling wine") %></p><br>

  <p><h4>Aromas</h4> (Check all that apply)</p>

  <div class="field">
    <%= f.collection_check_boxes(:aroma_ids, Aroma.all, :id, :name) %>
  </div>


  <p> <%= f.submit 'Save' %> </p>
<% end %>