<div class="box">

<p><h1>Ingredient List</h1>

<%= link_to("Create new ingredient", new_ingredient_path, class: "btn btn-primary btn-sm") %> </p>



<table class="table table-striped">
  <tr> 
    <th> Name </th>
    <th> Cooking Method </th>
    <th> Id </th>
    <th> Modify </th>
  </tr> 
    <% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.cooking_method %></td>
    <td><%= ingredient.id %></td>
    <td> <%= link_to("Edit", edit_ingredient_path(ingredient.id)) %> <%= link_to("Delete", ingredient_path(ingredient.id), method: :delete, data: {confirm: 'Are you sure you want to delete this ingredient?'}) %></td>

  </tr>
  <% end %>
</table>
</div>

