
<%= form_for @dish do |f| %>


  <div class="box" >
    <div class="row">
      
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
      
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>

<!-- main ingredient question -->

      <div id="ingredient-question"> 
        <div class="col-md-8" id="ingredient-question-button">
          <h1 id="home-title"> What is your main ingredient?</h1>
          <% @ingredients.each do |ingredient| %>
            <%= f.radio_button :ingredient_id, ingredient.id %>
            <%= f.label :ingredient_id, ingredient.name %>
          <% end %>
        </div>
      </div>

<!-- cooking method question -->
    
      <div class="hidden" id="cooking-method-question"> 
        <div class="col-md-8" id="cooking-method-question-button">
          <h1 id="home-title"> How are you cooking it?</h1>
            <% @cooking_methods.each do |cooking_method| %>
              <%= f.radio_button :cooking_method_id, cooking_method.id %>
              <%= f.label :cooking_method_id, cooking_method.name %>
            <% end %>
        </div>
      </div>

<!-- submit-dish  -->   

      <div class="hidden" id="submit-dish">
        <div class="col-md-8" id="cooking-method-question-button">
          <h1 id="home-title">You're finished!</h1>
          <button class="btn btn-primary btn-lg" id="save-dish">See my dish</button>
        </div>
      </div>

      <div class="col-md-2"></div>
      </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
  </div>

<% end %>


<!-- sign-up-modal -->

<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign up to see your dish</h4>
      </div>
      <div class="modal-body">
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->










