
<%= form_for @dish do |f| %>
  <div class="box" id="ingredient-question">
    <div class="row">
      
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
      
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"> <h1 id="home-title"> What is your main ingredient?</h1> </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <% @ingredients.each do |ingredient| %>
          <%= f.radio_button :ingredient_id, ingredient.id %>
          <%= f.label :ingredient_id, ingredient.name %>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button class="btn btn-primary btn-lg" id="ingredient-question-button">Next question</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>


  <!-- _______________________________________________________ -->

  <div class="box hidden" id="cooking-method-question">
    <div class="row">
      
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
      
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"> <h1 id="home-title"> How are you cooking it?</h1> </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <% @cooking_methods.each do |cooking_method| %>
          <%= f.radio_button :cooking_method_id, cooking_method.id %>
          <%= f.label :cooking_method_id, cooking_method.name %>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <button class="btn btn-primary btn-lg" id="cooking-method-question-button" type="submit">Next question</button>
      </div>
      <div class="col-md-2"</div>
    </div>
  </div>
<% end %>

