
<%= form_for @dish do |f| %>


  <div class="box" >
    <div class="row">
      
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
      
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>

<!-- main ingredient question -->

      <div id="ingredient-question"> 
        <div class="col-md-8" >
          <h1 class="home-title"> What is your main ingredient?</h1>
          <% Ingredient.all.each do |ingredient| %>
            <div class="radio">
              <%= f.label :ingredient_id, value: ingredient.id, class: "radio-style" do %>
                <%= f.radio_button :ingredient_id, ingredient.id, data: { ingredient: ingredient.name }, class: "ingredient-question-button" %>
                <%= (ingredient.name).capitalize %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>


<!-- cooking method question -->
    
      <div class="hidden" id="cooking-method-question"> 
        <div class="col-md-8">
          <h1 class="home-title"> How are you cooking it?</h1>
          <% CookingMethod.all.each do |cooking_method| %>
            <div class="radio">
              <%= f.label :cooking_method_id, value: cooking_method.id, class: "radio-style" do %>
                <%= f.radio_button :cooking_method_id, cooking_method.id, data: { cooking_method: cooking_method.name }, class: "cooking-method-question-button" %>
                <%= (cooking_method.name).capitalize %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

<!-- sauce method question -->

      <div class="hidden" id="sauce-question"> 
        <div class="col-md-8">
          <h1 class="home-title"> What kind of sauce are you adding?</h1> 
          <% Sauce.all.each do |sauce| %>
            <div class="radio">
              <%= f.label :sauce_id, value: sauce.id, class: "radio-style" do %>
                <%= f.radio_button :sauce_id, sauce.id, data: { sauce: sauce.name }, class: "sauce-question-button" %>
                <%= (sauce.name).capitalize %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>



<!-- side question -->


    <div class="hidden" id="side-question"> 
      <div class="col-md-8">
        <h1 class="home-title">Are you using any of these vegetables?</h1>
        <%= f.collection_check_boxes(:side_ids, (Side.where(kind: ('vegetables'))).order('name ASC'), :id, :name) do |side| %>
          <%= side.label(class: "radio-style") { side.check_box(data: { side: side.text }) + side.text  } %>
        <% end %>

        
        <p><a href="#" class="btn btn-default btn-lg" id="side-question-button">Done</a></p>
      </div>

    </div>


<!-- submit-dish  -->   

      <div class="hidden" id="submit-dish">
        <div class="col-md-8">
          <h1 class="home-title" id="show-dish-name">Your dish is </h1>
          <button class="btn btn-primary btn-lg" id="save-dish">Save my dish</button>
        </div>
      </div>

      <div class="col-md-2"></div>
      </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
  </div>

<% end %>


<!-- sign-up-modal -->

<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign up to see your dish</h4>
      </div>
      <div class="modal-body">
        
        <!-- form to go inside modal pop up for sign up -->
      
      <%= form_for(@user, url: registration_path(@user), remote:true) do |f| %>
        <%#= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->










