<div class="box">  
  <h3><%= (@dish.name).capitalize %></h3>
  <% if @wines.length == 1 %>
    <% @wines.each do |wine| %>
      <ul>
        <li><%= wine.name %></li>
      </ul>
    <%end%>
  <% elsif @wines.length > 1 %>
    <p>
      Your dish pairs well with <strong> <%= @wines.length %> </strong> wine types. Lucky you!
    </p>
    <a href="#" id="view-all-pairings">View all pairings</a> or <a href="#" id="let-us-choose"> let us choose </a>
  <%end%>

  <div class="hidden" id="all-pairings">
    <% @wines.each do |wine| %>
      <ul>
        <li><%= (wine.name).titleize %></li>
      </ul>
    <%end%>
  </div>

  <div class="hidden" id="our-pairing">
   <% selection = Random.rand(@wines.length)%>
   <%= (@wines[selection].name).titleize %>
  </div>

  


</div>
